*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Space Grotesk", sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.header {
  margin-top: 60px;
  margin-bottom: 70px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 220px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.menu__item {
  margin-right: 40px;
}
.menu__item:hover .menu__link:after {
  width: 100%;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item_outlined {
  border: 1px solid #191A23;
  border-radius: 14px;
  padding: 20px 35px;
  transition: background-color 0.2s;
}
.menu__item_outlined:hover {
  background-color: #000;
}
.menu__item_outlined:hover .menu__link {
  color: #fff;
}
.menu__item_outlined:hover .menu__link:after {
  width: 0;
}
.menu__link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.4;
  transition: color 0.2s;
}
.menu__link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s;
  transform: translateX(-50%);
}

.hero {
  min-height: calc(100vh - 200px);
  margin-bottom: 70px;
}
.hero__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.hero__text {
  margin-right: 50px;
  width: 530px;
}
.hero__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.28;
  margin-bottom: 35px;
}
.hero__description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 35px;
}
.hero__link {
  display: inline-block;
  color: #fff;
  background-color: #191a23;
  padding: 20px 35px;
  border: 1px solid #191a23;
  border-radius: 14px;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: none;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.hero__link:hover {
  background-color: transparent;
  color: #000;
}
.hero__image {
  height: 100%;
}

.companies {
  margin-bottom: 140px;
}
.companies__title {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.companies__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.companies__company-image {
  height: 48px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.services {
  margin-bottom: 100px;
}
.services__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.services__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.services__description {
  width: 580px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}
.services__service {
  margin: 0 20px;
  margin-bottom: 40px;
}
.services__service:nth-child(5) {
  margin-bottom: 0;
}
.services__service:last-child {
  margin-bottom: 0;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 600px;
  height: 310px;
  background-color: #f3f3f3;
  padding: 50px;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px #191A23;
  background-repeat: no-repeat;
  background-size: 210px;
  background-position: 340px center;
  text-decoration: none;
  transition: all 0.2s;
}
.service:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.service:nth-child(1) {
  background-image: url(../images/illustration-1.png);
}
.service:nth-child(2) {
  background-image: url(../images/illustration-2.png);
  background-color: #b9ff66;
}
.service:nth-child(3) {
  background-image: url(../images/illustration-3.png);
  background-color: #191a23;
}
.service:nth-child(4) {
  background-image: url(../images/illustration-4.png);
}
.service:nth-child(5) {
  background-image: url(../images/illustration-5.png);
  background-color: #b9ff66;
}
.service:nth-child(6) {
  background-image: url(../images/illustration-6.png);
  background-color: #191a23;
}
.service__title {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  color: #000;
  padding: 0px 7px;
  background: #B9FF66;
  border-radius: 7px;
}
.service__title_white {
  background-color: #fff;
}
.service__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.service__link_white .service__link-icon circle {
  fill: #fff;
}
.service__link_white .service__link-icon path {
  fill: #000;
}
.service__link_white .service__link-text {
  color: #fff;
}
.service__link-icon {
  width: 41px;
  height: 41px;
  margin-right: 15px;
}
.service__link-text {
  font-size: 20px;
  line-height: 1.4;
  color: #000;
}

.message {
  margin-bottom: 140px;
}
.message__wrapper {
  position: relative;
  background: #F3F3F3;
  border-radius: 45px;
  padding: 60px;
}
.message__text {
  width: 500px;
}
.message__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 26px;
}
.message__description {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 26px;
}
.message__link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.4;
  text-decoration: none;
  color: #fff;
  padding: 20px 35px;
  background-color: #191a23;
  border: 1px solid #191A23;
  border-radius: 14px;
  transition-property: background-color, color, border;
  transition-duration: 0.2s;
}
.message__link:hover {
  background-color: transparent;
  color: #000;
}
.message__image {
  position: absolute;
  width: 359px;
  top: -24px;
  right: 135px;
}

.cases {
  margin-bottom: 140px;
}
.cases__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.cases__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.cases__description {
  width: 580px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.cases__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 70px 60px;
  background-color: #191A23;
  border-radius: 45px;
}

.case {
  position: relative;
  width: 286px;
}
.case:after {
  content: "";
  width: 1px;
  height: 186px;
  position: absolute;
  top: 0;
  right: -64px;
  background-color: #fff;
}
.case__text {
  font-size: 18px;
  line-height: 1.3;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.case__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.case__link:hover .case__link-text:after {
  width: 100%;
}
.case__link-text {
  position: relative;
  font-size: 20px;
  line-height: 1.4;
  color: #B9FF66;
  margin-right: 5px;
}
.case__link-text:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #B9FF66;
  transition: width 0.2s;
}

.working-process {
  margin-bottom: 140px;
}
.working-process__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.working-process__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.working-process__description {
  width: 292px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.working-process__tab {
  margin-bottom: 30px;
}
.working-process__tab:last-child {
  margin-bottom: 0;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 60px 40px;
  background-color: #f3f3f3;
  border-radius: 45px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px #191A23;
  transition: all 0.2s;
}
.tab__number {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.3;
  margin-right: 25px;
}
.tab__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.3;
  margin-right: auto;
}
.tab__text {
  position: relative;
  display: none;
  width: 100%;
  font-size: 18px;
  line-height: 1.3;
  margin-top: 60px;
}
.tab__text:before {
  content: "";
  position: absolute;
  display: none;
  top: -30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 1px;
}
.tab_opened {
  background-color: #b9ff66;
}
.tab_opened .tab__text {
  display: block;
}
.tab_opened .tab__text:before {
  display: block;
}

.open-button {
  position: relative;
  cursor: pointer;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #f3f3f3;
  border: 1px solid #191A23;
}
.open-button__line {
  width: 25px;
  height: 6px;
  background-color: #000;
}
.open-button__line:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.open-button__line:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.2s;
}
.open-button_opened .open-button__line:last-child {
  width: 0;
}

.team {
  margin-bottom: 140px;
}
.team__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.team__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.team__description {
  width: 473px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.team__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team__person {
  margin-bottom: 40px;
}
.team__button {
  display: block;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  background-color: #191a23;
  border: 1px solid #191a23;
  border-radius: 14px;
  padding: 20px 76px;
  cursor: pointer;
  margin-left: auto;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
.team__button:hover {
  background-color: transparent;
  color: #000;
}

.person {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 387px;
  padding: 40px 35px;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px #191A23;
  border-radius: 45px;
}
.person_hidden {
  display: none;
}
.person__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.person__image {
  height: 103px;
  margin-right: 20px;
}
.person__info {
  width: 190px;
}
.person__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}
.person__status {
  font-size: 18px;
  line-height: 1.3;
}
.person__link {
  position: absolute;
  top: 40px;
  right: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: #000;
  border-radius: 50%;
}
.person__link svg {
  width: 17px;
}
.person__description {
  position: relative;
  width: 100%;
  font-size: 18px;
  line-height: 1.3;
  margin-top: 56px;
  margin-bottom: auto;
}
.person__description:before {
  content: "";
  position: absolute;
  top: -28px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  border-radius: 1px;
}

.testimonials {
  margin-bottom: 140px;
}
.testimonials__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.testimonials__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.testimonials__description {
  width: 473px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
.testimonials__slider {
  padding: 84px;
  color: #fff;
  border-radius: 45px;
  background-color: #191A23;
  border-radius: 45px;
}

.review__text {
  position: relative;
  padding: 48px 52px;
  background-color: #191A23;
  border: 1px solid #B9FF66;
  border-radius: 45px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 48px;
}
.review__message-arrow {
  position: absolute;
  width: 64px;
  bottom: -30px;
  left: 51px;
}
.review__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #B9FF66;
  margin-left: 80px;
}
.review__author-status {
  font-size: 18px;
  line-height: 1.3;
  margin-left: 80px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.slider__wrapper {
  margin-bottom: 124px;
}
.slider__button {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 51px;
  background-color: #191a23;
  border-radius: 50%;
  border: 1px solid transparent;
  transform: none;
  transition: all 0.2s;
}
.slider__button svg {
  width: 23px;
}
.slider__button:before {
  display: none;
  background-image: none;
}
.slider__button:hover {
  border: 1px solid #fff;
}
.slider__button:focus {
  background-color: #191a23;
  border: 1px solid #fff;
}
.slider__button_prev svg {
  transform: rotate(180deg);
}
.slider__bullets {
  position: static;
  margin: 0;
}
.slider__bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background-color: transparent;
  margin-right: 19px;
  margin-left: 0;
}
.slider__bullet path {
  transition: all 0.2s;
}
.slider__bullet:last-child {
  margin-right: 0;
}
.slider__bullet.itc-slider-indicator-active path {
  fill: #B9FF66;
}

.contact {
  margin-bottom: 140px;
}
.contact__text {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.contact__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  padding: 0 7px;
  background: #B9FF66;
  border-radius: 7px;
  margin-right: 40px;
}
.contact__description {
  width: 323px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 47% 80px 100px;
  background-color: #f3f3f3;
  background-image: url(../images/form-bg.png);
  background-repeat: no-repeat;
  background-position: 160% 50%;
  background-size: 692px 648px;
  border-radius: 45px;
}
.form__radio-buttons {
  display: flex;
  margin-bottom: 40px;
}
.form__radio {
  position: relative;
  width: 0px;
  height: 0px;
  margin-right: 42px;
}
.form__radio:before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000;
  margin-right: 14px;
}
.form__radio:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 14px;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #b9ff66;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}
.form__radio:checked:after {
  width: 16px;
  height: 16px;
}
.form__radio-label {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.3;
}
.form__radio-label:first-child {
  margin-right: 35px;
}
.form__label {
  width: 100%;
  margin-bottom: 25px;
}
.form__label:last-of-type {
  margin-bottom: 40px;
}
.form__label span {
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  width: 100%;
  padding: 18px 30px;
  border-radius: 14px;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.3;
  resize: none;
  margin-top: 5px;
}
.form__input_large {
  height: 190px;
}
.form__button {
  width: 100%;
  padding: 20px 35px;
  border-radius: 14px;
  background-color: #191a23;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  line-height: 1.3;
  cursor: pointer;
  border: 1px solid #191A23;
  transition: all 0.2s;
}
.form__button:hover {
  background-color: transparent;
  color: #000;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 55px 60px 50px 60px;
  border-radius: 45px 45px 0px 0px;
  background-color: #191A23;
}
.footer__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 66px;
}
.footer__logo {
  width: 180px;
}
.footer__socials {
  display: flex;
  align-items: center;
}
.footer__social-link {
  height: 40px;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 50%;
  outline-offset: 1px;
}
.footer__social-link:last-child {
  margin-right: 0;
}
.footer__social-link:hover {
  outline: 1px solid #fff;
}
.footer__social-icon {
  width: 40px;
  height: 40px;
}
.footer__copyright {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  padding-top: 50px;
  margin-top: 50px;
}
.footer__copyright:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.footer__privacy-link {
  color: #fff;
  margin-left: 40px;
}

.footer-menu__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.footer-menu__item {
  margin-right: 40px;
}
.footer-menu__item:last-child {
  margin-right: 0;
}
.footer-menu__item:hover .footer-menu__link:after {
  width: 100%;
}
.footer-menu__link {
  position: relative;
  font-size: 18px;
  line-height: 1.3;
  color: #fff;
  text-decoration: none;
}
.footer-menu__link:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.2s;
  transform: translateX(-50%);
}

.address {
  width: 332px;
  font-size: 18px;
  line-height: 1.3;
  font-style: normal;
  color: #fff;
}
.address__text {
  font-size: 20px;
  line-height: 1.3;
  background-color: #b9ff66;
  color: #000;
  border-radius: 7px;
  padding: 0px 7px;
  display: inline-block;
  margin-bottom: 27px;
}
.address__email {
  margin-bottom: 20px;
}
.address__link {
  color: #fff;
}
.address__phone {
  margin-bottom: 20px;
}

.subscription-form {
  padding: 58px 40px;
  border-radius: 14px;
  background-color: #292a32;
}
.subscription-form__input {
  padding: 22px 35px;
  background-color: transparent;
  border-radius: 14px;
  border: 1px solid #FFF;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
  margin-right: 20px;
  font-family: inherit;
}
.subscription-form__input::placeholder {
  color: #fff;
}
.subscription-form__button {
  padding: 20px 35px;
  background-color: #b9ff66;
  border-radius: 14px;
  border: 1px solid #b9ff66;
  color: #000;
  font-size: 20px;
  line-height: 1.3;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}
.subscription-form__button:hover {
  background-color: transparent;
  color: #b9ff66;
}