*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #000;
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.header {
    margin-top: 60px;
    margin-bottom: 70px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 220px;
    }

    &__mobile-menu-button {
        position: fixed;
        z-index: 10;
        top: 57px;
        right: calc((100% - 700px) / 2);
        background-color: transparent;
        cursor: pointer;
        display: none;
        background-color: #fff;
        padding: 5px;
        border-radius: 3px;

        svg {
            width: 40px;
            height: 32px;
        }
    }
}

.menu {

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        margin-right: 40px;

        &:hover {

            .menu__link {

                &:after {
                    width: 100%;
                }
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &_outlined {
            border: 1px solid #191A23;
            border-radius: 14px;
            padding: 20px 35px;
            transition: background-color 0.2s;

            &:hover {
                background-color: #000;

                .menu__link {
                    color: #fff;

                    &:after {
                        width: 0;
                    }
                }
            }
        }
    }

    &__link {
        position: relative;
        color: #000;
        text-decoration: none;
        font-size: 20px;
        line-height: 1.4;
        transition: color 0.2s;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: #000;
            transition: width 0.2s;
            transform: translateX(-50%);
        }
    }
}

.hero {
    min-height: calc(100vh - 200px);
    margin-bottom: 70px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__text {
        margin-right: 50px;
        width: 530px;
    }

    &__title {
        font-weight: 500;
        font-size: 60px;
        line-height: 1.28;
        margin-bottom: 35px;
    }

    &__description {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 35px;
    }

    &__link {
        display: inline-block;
        color: #fff;
        background-color: #191a23;
        padding: 20px 35px;
        border: 1px solid #191a23;
        border-radius: 14px;
        font-size: 20px;
        line-height: 1.4;
        text-decoration: none;
        transition-property: background-color, color;
        transition-duration: 0.2s;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }

    &__image {
        height: 100%;
    }
}

.companies {
    margin-bottom: 140px;

    &__title {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__company-image {
        height: 48px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
}

.services {
    margin-bottom: 100px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 580px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    &__service {
        margin: 0 20px;
        margin-bottom: 40px;

        &:nth-child(5) {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    height: 310px;
    background-color: #f3f3f3;
    padding: 50px;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    background-repeat: no-repeat;
    background-size: 210px;
    background-position: 340px center;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
        box-shadow: none;
        transform: translateY(5px);
    }

    &:nth-child(1) {
        background-image: url(../images/illustration-1.png);
    }

    &:nth-child(2) {
        background-image: url(../images/illustration-2.png);
        background-color: #b9ff66;
    }

    &:nth-child(3) {
        background-image: url(../images/illustration-3.png);
        background-color: #191a23;
    }

    &:nth-child(4) {
        background-image: url(../images/illustration-4.png);
    }

    &:nth-child(5) {
        background-image: url(../images/illustration-5.png);
        background-color: #b9ff66;
    }

    &:nth-child(6) {
        background-image: url(../images/illustration-6.png);
        background-color: #191a23;
    }

    &__title {
        display: inline-block;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.3;
        color: #000;
        padding: 0px 7px;
        background: #B9FF66;
        border-radius: 7px;

        &_white {
            background-color: #fff;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;

        &_white {

            .service__link-icon {

                circle {
                    fill: #fff;
                }

                path {
                    fill: #000;
                }
            }

            .service__link-text {
                color: #fff;
            }
        }
    }

    &__link-icon {
        width: 41px;
        height: 41px;
        margin-right: 15px;
    }

    &__link-text {
        font-size: 20px;
        line-height: 1.4;
        color: #000;
    }
}

.message {
    margin-bottom: 140px;

    &__wrapper {
        position: relative;
        background: #F3F3F3;
        border-radius: 45px;
        padding: 60px;
    }

    &__text {
        width: 500px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 1.3;
        margin-bottom: 26px;
    }

    &__description {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 26px;
    }

    &__link {
        display: inline-block;
        font-size: 20px;
        line-height: 1.4;
        text-decoration: none;
        color: #fff;
        padding: 20px 35px;
        background-color: #191a23;
        border: 1px solid #191A23;
        border-radius: 14px;
        transition-property: background-color, color, border;
        transition-duration: 0.2s;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }

    &__image {
        position: absolute;
        width: 359px;
        top: -24px;
        right: 135px;
    }
}

.cases {
    margin-bottom: 140px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 580px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 70px 60px;
        background-color: #191A23;
        border-radius: 45px;
    }
}

.case {
    position: relative;
    width: 286px;

    &:after {
        content: '';
        width: 1px;
        height: 186px;
        position: absolute;
        top: 0;
        right: -64px;
        background-color: #fff;
    }

    &:last-child {

        &:after {
            display: none;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 1.3;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;

        &:hover {

            .case__link-text {

                &:after {
                    width: 100%;
                }
            }
        }
    }

    &__link-text {
        position: relative;
        font-size: 20px;
        line-height: 1.4;
        color: #B9FF66;
        margin-right: 5px;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #B9FF66;
            transition: width 0.2s;
        }
    }
}

.working-process {
    margin-bottom: 140px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 292px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__tab {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 60px 40px;
    background-color: #f3f3f3;
    border-radius: 45px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    transition: all 0.2s;

    &__number {
        font-weight: 500;
        font-size: 60px;
        line-height: 1.3;
        margin-right: 25px;
    }

    &__title {
        font-weight: 500;
        font-size: 30px;
        line-height: 1.3;
        margin-right: auto;
    }

    &__text {
        position: relative;
        display: none;
        width: 100%;
        font-size: 18px;
        line-height: 1.3;
        margin-top: 60px;

        &:before {
            content: '';
            position: absolute;
            display: none;
            top: -30px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            border-radius: 1px;
        }
    }

    &_opened {
        background-color: #b9ff66;

        .tab__text {
            display: block;

            &:before {
                display: block;
            }
        }
    }
}

.open-button {
    position: relative;
    cursor: pointer;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: #f3f3f3;
    border: 1px solid #191A23;

    &__line {
        width: 25px;
        height: 6px;
        background-color: #000;

        &:first-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: all 0.2s;
        }
    }

    &_opened {

        .open-button__line {

            &:last-child {
                width: 0;
            }
        }
    }
}

.team {
    margin-bottom: 140px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 473px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__list {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__person {
        margin-bottom: 40px;
    }

    &__button {
        display: block;
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        background-color: #191a23;
        border: 1px solid #191a23;
        border-radius: 14px;
        padding: 20px 76px;
        cursor: pointer;
        margin-left: auto;
        transition-property: background-color, color;
        transition-duration: 0.2s;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
}

.person {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 387px;
    padding: 40px 35px;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    border-radius: 45px;

    &_hidden {
        display: none;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__image {
        height: 103px;
        margin-right: 20px;
    }

    &__info {
        width: 190px;
    }

    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
    }

    &__status {
        font-size: 18px;
        line-height: 1.3;
    }

    &__link {
        position: absolute;
        top: 40px;
        right: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        background-color: #000;
        border-radius: 50%;

        svg {
            width: 17px;
        }
    }

    &__description {
        position: relative;
        width: 100%;
        font-size: 18px;
        line-height: 1.3;
        margin-top: 56px;
        margin-bottom: auto;

        &:before {
            content: '';
            position: absolute;
            top: -28px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #000;
            border-radius: 1px;
        }
    }
}

.testimonials {
    margin-bottom: 140px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 473px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    &__slider {
        padding: 84px;
        color: #fff;
        border-radius: 45px;
        background-color: #191A23;
        border-radius: 45px;
    }
}

.review {

    &__text {
        position: relative;
        padding: 48px 52px;
        background-color: #191A23;
        border: 1px solid #B9FF66;
        border-radius: 45px;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 48px;
    }

    &__message-arrow {
        position: absolute;
        width: 64px;
        bottom: -30px;
        left: 51px;
    }

    &__author {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        color: #B9FF66;
        margin-left: 80px;
    }

    &__author-status {
        font-size: 18px;
        line-height: 1.3;
        margin-left: 80px;
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__wrapper {
        margin-bottom: 124px;
    }

    &__button {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51px;
        height: 51px;
        background-color: #191a23;
        border-radius: 50%;
        border: 1px solid transparent;
        transform: none;
        transition: all 0.2s;

        svg {
            width: 23px;
        }

        &:before {
            display: none;
            background-image: none;
        }

        &:hover {
            border: 1px solid #fff;
        }

        &:focus {
            background-color: #191a23;
            border: 1px solid #fff;
        }

        &_prev {

            svg {
                transform: rotate(180deg);
            }
        }

    }

    &__bullets {
        position: static;
        margin: 0;
    }

    &__bullet {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14px;
        height: 14px;
        background-color: transparent;
        margin-right: 19px;
        margin-left: 0;

        path {
            transition: all 0.2s;
        }

        &:last-child {
            margin-right: 0;
        }

        &.itc-slider-indicator-active {
            path {
                fill: #B9FF66;
            }
        }
    }
}

.contact {
    margin-bottom: 140px;

    &__text {
        display: flex;
        align-items: center;
        margin-bottom: 80px;
    }

    &__title {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.3;
        padding: 0 7px;
        background: #B9FF66;
        border-radius: 7px;
        margin-right: 40px;
    }

    &__description {
        width: 323px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 47% 80px 100px;
    background-color: #f3f3f3;
    background-image: url(../images/form-bg.png);
    background-repeat: no-repeat;
    background-position: 160% 50%;
    background-size: 692px 648px;
    border-radius: 45px;

    &__radio-buttons {
        display: flex;
        margin-bottom: 40px;
    }

    &__radio {
        position: relative;
        width: 0px;
        height: 0px;
        margin-right: 42px;

        &:before {
            content: '';
            position: absolute;
            top: -14px;
            left: 0;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #000;
            margin-right: 14px;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0px;
            left: 14px;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: #b9ff66;
            transform: translate(-50%, -50%);
            transition: all 0.2s;
        }

        &:checked {

            &:after {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__radio-label {
        display: flex;
        align-items: center;
        font-size: 18px;
        line-height: 1.3;

        &:first-child {
            margin-right: 35px;
        }
    }

    &__label {
        width: 100%;
        margin-bottom: 25px;

        &:last-of-type {
            margin-bottom: 40px;
        }

        span {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__input {
        width: 100%;
        padding: 18px 30px;
        border-radius: 14px;
        border: 1px solid #000;
        font-family: inherit;
        font-size: 18px;
        line-height: 1.3;
        resize: none;
        margin-top: 5px;

        &_large {
            height: 190px;
        }
    }

    &__button {
        width: 100%;
        padding: 20px 35px;
        border-radius: 14px;
        background-color: #191a23;
        color: #fff;
        font-family: inherit;
        font-size: 20px;
        line-height: 1.3;
        cursor: pointer;
        border: 1px solid #191A23;
        transition: all 0.2s;

        &:hover {
            background-color: transparent;
            color: #000;
        }
    }
}

.footer {

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 55px 60px 50px 60px;
        border-radius: 45px 45px 0px 0px;
        background-color: #191A23;
    }

    &__top {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 66px;
    }

    &__logo {
        width: 180px;
    }

    &__socials {
        display: flex;
        align-items: center;
    }

    &__social-link {
        height: 40px;
        text-decoration: none;
        margin-right: 20px;
        border-radius: 50%;
        outline-offset: 1px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            outline: 1px solid #fff;
        }
    }

    &__social-icon {
        width: 40px;
        height: 40px;
    }

    &__copyright {
        position: relative;
        width: 100%;
        color: #fff;
        font-size: 18px;
        line-height: 1.3;
        padding-top: 50px;
        margin-top: 50px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
    }

    &__privacy-link {
        color: #fff;
        margin-left: 40px;
    }
}

.footer-menu {

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {

            .footer-menu__link {

                &:after {
                    width: 100%;
                }
            }
        }
    }

    &__link {
        position: relative;
        font-size: 18px;
        line-height: 1.3;
        color: #fff;
        text-decoration: none;

        &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: width 0.2s;
            transform: translateX(-50%);
        }
    }
}

.address {
    width: 332px;
    font-size: 18px;
    line-height: 1.3;
    font-style: normal;
    color: #fff;

    &__text {
        font-size: 20px;
        line-height: 1.3;
        background-color: #b9ff66;
        color: #000;
        border-radius: 7px;
        padding: 0px 7px;
        display: inline-block;
        margin-bottom: 27px;
    }

    &__email {
        margin-bottom: 20px;
    }

    &__link {
        color: #fff;
    }

    &__phone {
        margin-bottom: 20px;
    }
}

.subscription-form {
    padding: 58px 40px;
    border-radius: 14px;
    background-color: #292a32;

    &__input {
        padding: 22px 35px;
        background-color: transparent;
        border-radius: 14px;
        border: 1px solid #FFF;
        color: #fff;
        font-size: 18px;
        line-height: 1.3;
        margin-right: 20px;
        font-family: inherit;

        &::placeholder {
            color: #fff;
        }
    }

    &__button {
        padding: 20px 35px;
        background-color: #b9ff66;
        border-radius: 14px;
        border: 1px solid #b9ff66;
        color: #000;
        font-size: 20px;
        line-height: 1.3;
        font-family: inherit;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            background-color: transparent;
            color: #b9ff66;
        }
    }
}

@media (max-width: 1366px) {

    .container {
        width: 1100px;
    }

    .hero {

        &__text {
            margin-right: 40px;
        }

        &__image {
            height: auto;
            width: 50%;
        }
    }

    .services {

        &__list {
            margin: 0px -15px;
        }

        &__service {
            margin: 0px 15px;
            margin-bottom: 30px;
        }
    }

    .service {
        width: 535px;
        background-size: 180px;
        background-position: 310px center;
    }

    .case {
        width: 250px;

        &:after {
            right: -50px;
        }
    }

    .team {

        &__person {
            margin-bottom: 33px;
        }
    }

    .person {
        width: 345px;
    }

    .form {
        background-position: 180% 50%;
    }
}

@media (max-width: 1199px) {

    .container {
        width: 900px;
    }

    .header {
        margin-bottom: 60px;

        &__logo {
            width: 170px;
        }
    }

    .menu {

        &__item {
            margin-right: 30px;

            &_outlined {
                padding: 15px 25px;
            }
        }

        &__link {
            font-size: 18px;
        }
    }

    .hero {
        min-height: calc(100vh - 345.2px);
        margin-bottom: 60px;

        &__text {
            width: auto;
        }

        &__title {
            font-size: 48px;
            margin-bottom: 30px;
        }

        &__description {
            font-size: 18px;
            margin-bottom: 30px;
        }
    }

    .companies {
        margin-bottom: 120px;

        &__company-image {
            height: 40px;
        }
    }

    .services {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }
    }

    .service {
        width: 435px;
        height: 280px;
        background-size: 150px;
        background-position: 265px center;

        &__title {
            font-size: 27px;
        }
    }

    .message {
        margin-bottom: 120px;

        &__wrapper {
            padding: 50px;
        }

        &__image {
            width: 340px;
            top: -10px;
            right: 10px;
        }
    }

    .cases {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }

        &__list {
            padding: 50px;
        }
    }

    .case {
        width: 220px;

        &:after {
            right: -35px;
        }
    }

    .working-process {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }
    }

    .team {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }
    }

    .person {
        width: 48%;
    }

    .testimonials {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }
    }

    .slider {

        &__wrapper {
            margin-bottom: 90px;
        }
    }

    .contact {
        margin-bottom: 120px;

        &__text {
            margin-bottom: 60px;
        }
    }

    .form {
        padding-right: 40%;
        background-size: 560px 520px;
        background-position: 180% 50%;
    }

    .footer {

        &__top {
            margin-bottom: 60px;
        }

        &__logo {
            width: 150px;
        }

        &__social-link {
            margin-right: 15px;
        }
    }

    .footer-menu {

        &__item {
            margin-right: 25px;
        }
    }

    .subscription-form {
        width: 50%;
        flex-wrap: wrap;
        padding: 40px;

        &__input {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }

        &__button {
            width: 100%;
        }
    }
}

@media (max-width: 991px) {

    .container {
        width: 700px;
    }

    .header {

        &__mobile-menu-button {
            display: block;
        }
    }

    .menu {
        position: fixed;
        z-index: 10;
        right: calc((100% - 700px) / 2);
        top: 130px;
        background-color: #fff;
        padding: 20px;
        border-radius: 14px;
        transform: scaleY(0);
        transition: all 0.2s;

        &__list {
            flex-direction: column;
        }

        &__item {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &_opened {
            transform: scaleY(1);
        }
    }

    .hero {

        &__title {
            font-size: 40px;
        }

        &__image {
            width: 42%;
        }
    }

    .companies {

        &__company-image {
            height: 32px;
        }
    }

    .services {

        &__title {
            font-size: 36px;
        }

        &__description {
            width: auto;
        }
    }

    .service {
        width: 335px;
        padding: 40px;
        background-size: 140px;
        background-position: 78% 78%;

        &__title {
            font-size: 24px;
        }

        &__link-icon {
            margin: 0;
        }

        &__link-text {
            display: none;
        }
    }

    .message {

        &__text {
            width: 380px;
        }

        &__title {
            font-size: 24px;
        }

        &__image {
            width: 200px;
            top: 50px;
            right: 25px;
        }
    }

    .cases {

        &__title {
            font-size: 36px;
            white-space: nowrap;
        }

        &__description {
            width: auto;
        }

        &__list {
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            overflow-x: scroll;
        }

        &__case {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .case {
        flex-shrink: 0;
        width: 300px;
        background-color: #191A23;
        padding: 40px;
        border-radius: 45px;

        &:after {
            display: none;
        }
    }

    .working-process {

        &__title {
            font-size: 36px;
            white-space: nowrap;
        }

        &__description {
            width: 100%;
        }
    }

    .tab {
        padding: 50px 40px;

        &__number {
            font-size: 48px;
        }

        &__title {
            font-size: 24px;
        }
    }

    .team {

        &__title {
            font-size: 36px;
        }

        &__description {
            width: auto;
        }
    }

    .person {
        padding-top: 65px;

        &__image {
            height: 80px;
        }

        &__link {
            top: 35px;
        }
    }

    .testimonials {

        &__title {
            font-size: 36px;
        }

        &__description {
            width: auto;
        }
    }

    .slider {
        padding: 70px;
    }

    .contact {

        &__title {
            font-size: 36px;
            white-space: nowrap;
        }

        &__description {
            width: auto;
        }
    }

    .form {
        padding: 60px 40% 60px 60px;
        background-size: 500px 470px;
        background-position: 220% 50%;
    }

    .footer-menu {
        display: none;
    }

    .address {
        width: 47%;
    }

    .subscription-form {
        width: 47%;
    }
}